<h1><%= t(:search_label) %><h1>

<h3><%= t('.search_word', word: @word) %></h3>

<p><%= t('.search_count', number: @customers.count, count: @customers.count) %></p>
<% @customers.each do |c| %>
  <div>
    <%= c.name %>
    <%= c.email %>
  </div>
<% end %>
