<h1><%= t('.title') %></h1>
<% if @car_categories.any? %>
<table>
  <thead>
    <tr>
      <th><%= t(:category, scope: %i[activerecord attributes car_category], name: nil) %></th>
      <th><%= t(:daily_rate, scope: %i[activerecord attributes car_category]) %></th>
      <th><%= t('.details') %></th>
    </tr>
  </thead>
  <tbody>
  <% @car_categories.each do |category| %>
    <tr id="row_<%= category.id %>">
      <td><%= t(:category, scope: %i[activerecord attributes car_category], name: category.name) %></td>
      <td><%= number_to_currency category.daily_rate %></td>
      <td><%= link_to t('.details'), category %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<% else %>
  <%= render partial: 'blank', locals: { object: @car_categories } %>
<% end %>
<%= link_to t('.register_new'), new_car_category_path %>
<%= link_to t(:back), root_path %>
