<h1><%= @rental.customer.name %></h1>

<p>Detalhes:</p>
<dl>
  <dt>Locação </dt><dd><%= @rental.code %></dd>
  <dt>Status </dt><dd><%= t(@rental.status) %></dd>
  <dt>Horário da Retirada </dt><%= l(@rental.car_rental.start_date, format: :custom) %><dd></dd>
  <dt>Usuário Responsável </dt><dd><%= @rental.car_rental.user.email %></dd>
  <dt>Veículo </dt><dd><%= @rental.car_rental.car.complete_identification %></dd>
</dl>
