<h1><%= t('.title') %></h1>

<%= link_to t('.register_new'), new_car_model_path %>

<% if @car_models.any? %>
  <table>
    <tr>
      <th><%= t('.name') %></th>
      <th><%= t(:manufacturer, scope: %i[activerecord attributes car_model]) %></th>
      <th><%= t(:car_category, scope: %i[activerecord attributes car_model]) %></th>
    </tr>
    <%= @car_models.each do |car_model| %>
      <tr>
        <td><%= car_model.name %></td>
        <td><%= car_model.manufacturer.name %></td>
        <td><%= car_model.car_category.name %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <%= render partial: 'blank', locals: { object: @car_models } %>
<% end %>
